.container {
  width: 50%;
  height: 80vh;
  margin: auto;
}

/* img {
  width: 60px;
  height: 70px;
  position: absolute;
  top: 32%;
  left: 47%;
  pointer-events: none;
} */

.roleta {
  margin: auto;
}
